.top-bar
  width: 100%
  background-color: lightblue
  padding: 20px
  height: 60px
.application-name
  font-size: 20px
  float: left
  margin-right: 20px
.edit-account
  margin-right: 10px
  float: right
.log-out
  margin-right: 10px
  float: right
.log-in
  margin-right: 10px
  float: right
.sign-up
  margin-right: 10px
  float: right

