@import partials/variables
@import partials/mixins


#channel-header
  position: relative
  padding: 15px 25px
  +clearfix

#channel-name-hashtag
  font-size: 18px
  color: rgba($black, 0.72)
  opacity: 0.6


#channel-name
  font-size: 24px
  font-weight: bold
  color: rgba($black, 0.72)

#channel-body
  position: relative
  height: calc(100% - 120px)
  overflow: scroll



#channel-footer
  position: absolute
  bottom: 0px
  padding-bottom: 20px
  padding-left: 15px
  padding-right: 15px
  width: 100%
#channel-message-input
  border: 2px solid rgba($gray, .18)
  border-radius: 5px
  padding: 10px
  font-size: 15px
  width: 100%
  line-height: 1.5
  resize: none
  outline: none

  &:focus
    border-color: rgba($gray, .24)



