@import partials/variables
@import partials/mixins

hr
  border-top: 1px solid #DDD

#channel-header
  position: relative
  padding: 15px 25px
  +clearfix

#channel-name-hashtag
  font-size: 21px
  color: rgba($black, 0.72)
  opacity: 0.6
  float: left
  margin-top: 2px
  margin-right: 2px
  font-weight: 500


#channel-name
  font-size: 23px
  font-weight: bold
  color: rgba($black, 0.70)
  float: left
  margin-right: 20px

#channel-topic
  font-size: 17px
  color: rgba($black, 0.35)
  margin-top: 6px


#channel-body
  position: relative
  height: calc(100% - 128px)
  padding-bottom: 25px
  overflow: scroll
  overflow-x: hidden
  width: calc(100% - 4px)



#channel-footer
  position: absolute
  bottom: 0px
  padding-bottom: 20px
  padding-left: 15px
  padding-right: 15px
  width: 100%
#channel-message-input
  border: 2px solid rgba($gray, .18)
  border-radius: 5px
  padding: 10px
  font-size: 15px
  width: 100%
  line-height: 1.5
  resize: none
  outline: none

  &:focus
    border-color: rgba($gray, .24)

.container
  margin: auto
  vertical-align: middle
  width: 500px

.header
  font-size: 34px
  line-height: 41px
  font-weight: 900
  color: #434245
  margin-top: 30px

.public-channels
  margin: auto

.name
  margin-left: 10px

.number-users
  margin-left: 10px
  opacity: 0.6
  color: black

.topic
  margin-left: 10px
  color: black
  opacity: 0.6

.leave-link
  text-align: right


.join-link
  text-align: right
