@import partials/variables


#channel-name
  float: left
  margin-right: 5px
#channel-footer
  position: absolute
  bottom: 0px
  padding-bottom: 20px
  padding-left: 15px
  padding-right: 15px
  width: 100%
#channel-message-input
  border: 2px solid rgba($gray, .18)
  border-radius: 5px
  padding: 10px
  font-size: 15px
  width: 100%
  line-height: 1.5
  resize: none
  outline: none

  &:focus
    border-color: rgba($gray, .24)

#channel-message-box


