// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import partials/variables
@import partials/mixins

.collapse
  .message:not(.thread-channel-head):not(.main-thread)
    display: none

.smart-collapse
  .message:not(.thread-channel-head):not(.main-thread)
    display: none

  .message.user-thread:not(.before-head)
    display: block

.main-thread
  .message-origin-channel
    display: none

.message
  padding: 1px 0px 5px 2px
  background-color: white
  position: relative
  +clearfix

  a:hover
    text-decoration: underline

  &:hover, &.hover
    background-color: rgba($black, 0.03)

    .message-options
      display: block

  &.first
    .message-icon
      display: block
    .message-user, .message-time
      display: inline-block
    .message-options
      top: -6px

  &.first:not(.main-thread)
    .message-origin-channel
      display: inline-block

  &.highlight
    background-color: $light-yellow

  &.remove-highlight
    transition: background-color 0.6s ease
    background-color: white

  &.before-head
    display: none

.message-origin-channel
  font-size: 13px
  margin-left: 1px
  margin-right: 5px
  display: none
  a
    color: inherit


.thread-bar
  position: absolute
  height: 100%
  width: 4px
  top: 0
  left: 0
  opacity: 0
  transition: 0.3s ease

.color-thread
  .thread-bar
    opacity: 0.6

    &.active
      opacity: 1


.thread-head, .thread-channel-head
  .thread-bar
    border-radius: 0px 3px 0px 0px
    height: calc(100% - 8px)
    top: 8px

.thread-tail
  .thread-bar
    border-radius: 0px 0px 3px 0px
    height: calc(100% - 8px)
    bottom: 8px

.thread-tail.thread-head
  .thread-bar
    border-radius: 0px 3px 3px 0px
    height: calc(100% - 16px)
    top: 8px

.collapse .message.thread-channel-head, .smart-collapse .message.thread-channel-head:not(.user-thread)
  .thread-bar
    border-radius: 0px 3px 3px 0px
    height: calc(100% - 16px)
    top: 8px

  &:not(:hover)
    .thread-bar
      background-color: $time-stamp-gray

.message-gutter
  float: left
  width: 72px
  height: 1px
  padding-right: 10px

.message-icon
  width: 36px
  float: right
  display: none
  margin-top: 5px

  img
    width: 100%
    border-radius: 3px

.message-content
  font-size: 15px
  float: left
  padding-top: 3px
  max-width: calc(100% - 115px)

.message-user
  font-weight: bold
  margin-right: 3px
  margin-bottom: 3px
  margin-top: 1px
  display: none
  a
    color: inherit

.message-time
  font-size: 12px
  color: $time-stamp-gray
  font-weight: 300
  display: none

.message-text-subtitle
  color: rgba(black, 0.5)
  font-style: italic

  a
    color: rgba(black, 0.5)

.tiny-message
  .message-text
    margin: 2px 0px

.tiny-user-image
  border-radius: 3px
  width: 16px
  margin-top: 3px
  margin-right: 7px
  display: block
  float: left


.tiny-message-username
  color: $channel-name-color
  font-size: 15px
  font-weight: bold
  letter-spacing: 0.015em
  line-height: 22px
  float: left
  a
    color: inherit

.tiny-message-header
  +clearfix

.inline-attachment
  margin-top: 8px
  position: relative
  padding-left: 16px
  margin-bottom: 10px

.inline-attachment-bar
  position: absolute
  height: 100%
  width: 4px
  border-radius: 10px
  background: $light-gray
  left: 0px

.inline-attachment-content


.message-options
  position: absolute
  right: 6px
  top: -20px
  border: 1px solid rgba($black, 0.18)
  border-radius: 6px
  transition: 0.1s ease
  display: none
  background: white
  +clearfix

  &:hover
    border-color: rgba($black, 0.3)
    box-shadow: 0 1px 1px rgba(black, 0.1)

  .message-option-item
    border-right: 1px solid rgba($black, 0.18)
    padding: 5px
    float: left
    height: 28px
    width: 37px
    background: white
    opacity: 0.9

    &:hover
      img
        &:last-child
          display: block
        &:first-child
          display: none

    &:first-child
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px

    &:last-child
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
      border-right: none

    img
      &:last-child
        display: none

.message-see-thread
  cursor: pointer
  img
    width: 16px
    margin-left: 6px
    margin-top: 1px

.message-copy-text
  cursor: not-allowed
  img
    width: 15px
    margin-left: 6px
    margin-top: 2px

.message-see-more
  cursor: not-allowed
  img
    width: 13px
    margin-left: 6px
    position: absolute
    margin-top: 8px



.thread-color-0
  &:hover
    background-color: rgba($thread-color-0, 0.08)

  &.thread-channel-head
    border-color: $thread-color-0

  .thread-bar
    background-color: $thread-color-0

  .message-origin-channel
    color: $thread-color-0

.thread-color-1
  &:hover
    background-color: rgba($thread-color-1, 0.08)

  &.thread-channel-head
    border-color: $thread-color-1

  .thread-bar
    background-color: $thread-color-1

  .message-origin-channel
    color: $thread-color-1

.thread-color-2
  &:hover
    background-color: rgba($thread-color-2, 0.03)

  &.thread-channel-head
    border-color: $thread-color-2

  .thread-bar
    background-color: $thread-color-2

  .message-origin-channel
    color: $thread-color-2

.thread-color-3
  &:hover
    background-color: rgba($thread-color-3, 0.08)

  &.thread-channel-head
    border-color: $thread-color-3

  .thread-bar
    background-color: $thread-color-3

  .message-origin-channel
    color: $thread-color-3


.thread-color-4
  .thread-bar
    background-color: $thread-color-4
.thread-color-5
  .thread-bar
    background-color: $thread-color-5
.thread-color-6
  .thread-bar
    background-color: $thread-color-6
.thread-color-7
  .thread-bar
    background-color: $thread-color-7

